 /*--------------------------------------------------Main Full page setting*/

html{scroll-behavior: smooth;}
.Fullpage{margin: 0px;}
body section{
    height: 762px;
    width: 100%;
}
 /*--------------------------------------------------mySidenav Menu to all page*/
#mySidenav a {
    position: fixed;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    color: #000000;
    border-radius: 0 8px 8px 0;
    border: 3px solid white;
    border-left-width: 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.460);
}

#mySidenav a:hover {
    left: 0;
}
  
#Home_side {
    top: 300px;
    background-color: #e6aecf; 
}
  
#Info_side {
    top: 360px;
    background-color: #aee0dd;
}
  
#Play_side {
    top: 420px;
    background-color: #faa98b;
}
  
#Credit_side {
    top: 480px;
    background-color: #a8a8a8;
}
/*--------------------------------------------------Credit bottom page */
#credit{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    background-color: #ffffff;
    margin: 0px;
    height: 120px;
    width: 100%;
}

#logo_credit{
    display: grid;
    grid-template-columns: 200px 200px 100px;
    justify-content: center;
    grid-gap: 40px;
    margin-top: 20px;
    height: 100%;
    width: 100%;
}

#credit_w3s{
    height: 90%;
    width: 100%;
}

#credit_codepen{
    height: 90%;
    width: 100%;
}

#credit_github{
    height: 90%;
    width: 100%;
}

#power{
    margin-top: 40px;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
}
