body{
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 0px;
    box-sizing: border-box;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#head{
    font-family: monospace;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 400px;
    white-space: nowrap;
}

.menu {
    display: grid;
    grid-template-columns: auto auto auto;
}

#pic{
    object-fit: cover;
    height: 500px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.menu > div {
    text-align: center;
    font-family: monospace;
    font-size: 25px;
    color: white;
    background-color: rgb(61, 161, 179);
    margin: 20px 5px;
    width: 250px;
    line-height: 50px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

footer {
    background-color: rgb(61, 161, 179);
    font-family: monospace;
    text-align: center;
    font-size: 16px;
    color: white;
    line-height: 50px;
    margin: 0px;
}
