/*---------------------------------------------------------------Info Page*/
#info{
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #aee0dd;
    margin: 0px;
}

.head_info {
    display: flex;
    justify-content: center;
}

#profile{ /*Picture Profile*/
    margin:auto;
    width: 300px;
    height: 300px;
    border: 10px solid white;
    border-radius: 50%;
    box-shadow: 9px 9px #999;
}

.info_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about_me{
    font-family: monospace;
    font-size: 18px; 
    color: #313131;
    white-space: nowrap;
}

/*---------------------------------------------------------------Logo social button*/
.logo {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    height: 80%;
    background-color: #ffffff;

}

.logo button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

/*Animation Logo social button*/

#logo_fac:hover {transform: translateY(-10px);}
#logo_fac:active{
    background-color: rgb(61, 121, 250);
    box-shadow: 0px 10px 15px rgba(7, 107, 238, 0.521);
    border-radius: 20px;
}

#logo_ins:hover {transform: translateY(-10px);}
#logo_ins:active{
    background-color: rgb(253, 137, 42);
    box-shadow: 0px 15px 20px rgba(107, 10, 218, 0.534);
    border-radius: 20px;
}

#logo_twi:hover {transform: translateY(-10px);}
#logo_twi:active{
    background-color: rgb(75, 213, 255);
    box-shadow: 0px 15px 20px rgba(22, 155, 207, 0.63);
    border-radius: 20px;
}

#logo_you:hover {transform: translateY(-10px);}
#logo_you:active{
    background-color: rgb(255, 75, 75);
    box-shadow: 0px 15px 20px rgba(155, 12, 12, 0.63);
    border-radius: 20px;
}
